<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_hit_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{202,170}}</string>
                <key>offset</key>
                <string>{-19,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,60},{202,170}}</string>
                <key>sourceSize</key>
                <string>{240,230}</string>
            </dict>
            <key>img_hit_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{204,170}}</string>
                <key>offset</key>
                <string>{-11,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,60},{204,170}}</string>
                <key>sourceSize</key>
                <string>{240,230}</string>
            </dict>
            <key>img_hit_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,520},{202,170}}</string>
                <key>offset</key>
                <string>{-1,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,60},{202,170}}</string>
                <key>sourceSize</key>
                <string>{240,230}</string>
            </dict>
            <key>img_hit_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{212,168}}</string>
                <key>offset</key>
                <string>{14,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,62},{212,168}}</string>
                <key>sourceSize</key>
                <string>{240,230}</string>
            </dict>
            <key>img_hit_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{212,174}}</string>
                <key>offset</key>
                <string>{14,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,56},{212,174}}</string>
                <key>sourceSize</key>
                <string>{240,230}</string>
            </dict>
            <key>img_hit_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1534},{128,212}}</string>
                <key>offset</key>
                <string>{48,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,18},{128,212}}</string>
                <key>sourceSize</key>
                <string>{240,230}</string>
            </dict>
            <key>img_hit_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,688},{122,230}}</string>
                <key>offset</key>
                <string>{25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,0},{122,230}}</string>
                <key>sourceSize</key>
                <string>{240,230}</string>
            </dict>
            <key>img_hit_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,864},{148,210}}</string>
                <key>offset</key>
                <string>{14,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,20},{148,210}}</string>
                <key>sourceSize</key>
                <string>{240,230}</string>
            </dict>
            <key>img_hit_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1150},{168,164}}</string>
                <key>offset</key>
                <string>{11,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,66},{168,164}}</string>
                <key>sourceSize</key>
                <string>{240,230}</string>
            </dict>
            <key>img_hit_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,1316},{198,126}}</string>
                <key>offset</key>
                <string>{10,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,104},{198,126}}</string>
                <key>sourceSize</key>
                <string>{240,230}</string>
            </dict>
            <key>img_hit_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,1742},{214,106}}</string>
                <key>offset</key>
                <string>{2,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,124},{214,106}}</string>
                <key>sourceSize</key>
                <string>{240,230}</string>
            </dict>
            <key>img_hit_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,1664},{220,104}}</string>
                <key>offset</key>
                <string>{0,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,126},{220,104}}</string>
                <key>sourceSize</key>
                <string>{240,230}</string>
            </dict>
            <key>img_hit_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1890},{224,104}}</string>
                <key>offset</key>
                <string>{0,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,125},{224,104}}</string>
                <key>sourceSize</key>
                <string>{240,230}</string>
            </dict>
            <key>img_hit_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1664},{224,104}}</string>
                <key>offset</key>
                <string>{0,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,125},{224,104}}</string>
                <key>sourceSize</key>
                <string>{240,230}</string>
            </dict>
            <key>img_hit_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1304},{228,104}}</string>
                <key>offset</key>
                <string>{2,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,126},{228,104}}</string>
                <key>sourceSize</key>
                <string>{240,230}</string>
            </dict>
            <key>img_hit_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1516},{224,104}}</string>
                <key>offset</key>
                <string>{0,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,126},{224,104}}</string>
                <key>sourceSize</key>
                <string>{240,230}</string>
            </dict>
            <key>img_hit_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,920},{228,122}}</string>
                <key>offset</key>
                <string>{2,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,108},{228,122}}</string>
                <key>sourceSize</key>
                <string>{240,230}</string>
            </dict>
            <key>img_hit_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,232},{226,118}}</string>
                <key>offset</key>
                <string>{3,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,111},{226,118}}</string>
                <key>sourceSize</key>
                <string>{240,230}</string>
            </dict>
            <key>img_hit_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{228,118}}</string>
                <key>offset</key>
                <string>{2,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,111},{228,118}}</string>
                <key>sourceSize</key>
                <string>{240,230}</string>
            </dict>
            <key>img_hit_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1076},{226,122}}</string>
                <key>offset</key>
                <string>{3,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,108},{226,122}}</string>
                <key>sourceSize</key>
                <string>{240,230}</string>
            </dict>
            <key>img_hit_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,460},{226,126}}</string>
                <key>offset</key>
                <string>{3,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,104},{226,126}}</string>
                <key>sourceSize</key>
                <string>{240,230}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hit.png</string>
            <key>size</key>
            <string>{336,1996}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e26533eadb6171843212f51d97dceeee:62329ea9e2bb1e562d944adb9a480d1b:516f89fe362b6390efd4aa18575c8762$</string>
            <key>textureFileName</key>
            <string>hit.png</string>
        </dict>
    </dict>
</plist>
