<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_jump_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,708},{200,188}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,20},{200,188}}</string>
                <key>sourceSize</key>
                <string>{206,208}</string>
            </dict>
            <key>img_jump_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,326},{200,182}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,26},{200,182}}</string>
                <key>sourceSize</key>
                <string>{206,208}</string>
            </dict>
            <key>img_jump_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,160},{200,180}}</string>
                <key>offset</key>
                <string>{2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,28},{200,180}}</string>
                <key>sourceSize</key>
                <string>{206,208}</string>
            </dict>
            <key>img_jump_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,724},{200,198}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{200,198}}</string>
                <key>sourceSize</key>
                <string>{206,208}</string>
            </dict>
            <key>img_jump_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,164},{180,198}}</string>
                <key>offset</key>
                <string>{12,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,10},{180,198}}</string>
                <key>sourceSize</key>
                <string>{206,208}</string>
            </dict>
            <key>img_jump_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{160,196}}</string>
                <key>offset</key>
                <string>{22,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,12},{160,196}}</string>
                <key>sourceSize</key>
                <string>{206,208}</string>
            </dict>
            <key>img_jump_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{156,194}}</string>
                <key>offset</key>
                <string>{24,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,14},{156,194}}</string>
                <key>sourceSize</key>
                <string>{206,208}</string>
            </dict>
            <key>img_jump_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{152,196}}</string>
                <key>offset</key>
                <string>{26,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,12},{152,196}}</string>
                <key>sourceSize</key>
                <string>{206,208}</string>
            </dict>
            <key>img_jump_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{148,196}}</string>
                <key>offset</key>
                <string>{29,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,12},{148,196}}</string>
                <key>sourceSize</key>
                <string>{206,208}</string>
            </dict>
            <key>img_jump_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{160,198}}</string>
                <key>offset</key>
                <string>{22,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,10},{160,198}}</string>
                <key>sourceSize</key>
                <string>{206,208}</string>
            </dict>
            <key>img_jump_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,156},{176,192}}</string>
                <key>offset</key>
                <string>{14,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,16},{176,192}}</string>
                <key>sourceSize</key>
                <string>{206,208}</string>
            </dict>
            <key>img_jump_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,534},{188,192}}</string>
                <key>offset</key>
                <string>{8,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,16},{188,192}}</string>
                <key>sourceSize</key>
                <string>{206,208}</string>
            </dict>
            <key>img_jump_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,722},{194,190}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,18},{194,190}}</string>
                <key>sourceSize</key>
                <string>{206,208}</string>
            </dict>
            <key>img_jump_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,346},{190,186}}</string>
                <key>offset</key>
                <string>{7,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,22},{190,186}}</string>
                <key>sourceSize</key>
                <string>{206,208}</string>
            </dict>
            <key>img_jump_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,342},{190,186}}</string>
                <key>offset</key>
                <string>{7,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,21},{190,186}}</string>
                <key>sourceSize</key>
                <string>{206,208}</string>
            </dict>
            <key>img_jump_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{186,186}}</string>
                <key>offset</key>
                <string>{9,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,22},{186,186}}</string>
                <key>sourceSize</key>
                <string>{206,208}</string>
            </dict>
            <key>img_jump_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{184,186}}</string>
                <key>offset</key>
                <string>{10,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,22},{184,186}}</string>
                <key>sourceSize</key>
                <string>{206,208}</string>
            </dict>
            <key>img_jump_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,700},{206,188}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{206,188}}</string>
                <key>sourceSize</key>
                <string>{206,208}</string>
            </dict>
            <key>img_jump_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,534},{206,186}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{206,186}}</string>
                <key>sourceSize</key>
                <string>{206,208}</string>
            </dict>
            <key>img_jump_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,334},{202,184}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,24},{202,184}}</string>
                <key>sourceSize</key>
                <string>{206,208}</string>
            </dict>
            <key>img_jump_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,520},{202,186}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,21},{202,186}}</string>
                <key>sourceSize</key>
                <string>{206,208}</string>
            </dict>
            <key>img_jump_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,510},{200,188}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,20},{200,188}}</string>
                <key>sourceSize</key>
                <string>{206,208}</string>
            </dict>
            <key>img_jump_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,152},{172,204}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,4},{172,204}}</string>
                <key>sourceSize</key>
                <string>{206,208}</string>
            </dict>
            <key>img_jump_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,208}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{142,208}}</string>
                <key>sourceSize</key>
                <string>{206,208}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jump.png</string>
            <key>size</key>
            <string>{1004,924}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c96fddeeafc82b31516709c8db567fc:d5036c86cd7b60b5c64da9c07f3f570b:a26cea5c62334af524c8ee621cbafbc7$</string>
            <key>textureFileName</key>
            <string>jump.png</string>
        </dict>
    </dict>
</plist>
