<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_run_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,2},{204,170}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{204,170}}</string>
                <key>sourceSize</key>
                <string>{210,180}</string>
            </dict>
            <key>img_run_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{192,180}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{192,180}}</string>
                <key>sourceSize</key>
                <string>{210,180}</string>
            </dict>
            <key>img_run_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,2},{204,178}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{204,178}}</string>
                <key>sourceSize</key>
                <string>{210,180}</string>
            </dict>
            <key>img_run_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,2},{208,172}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{208,172}}</string>
                <key>sourceSize</key>
                <string>{210,180}</string>
            </dict>
            <key>img_run_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,2},{204,170}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{204,170}}</string>
                <key>sourceSize</key>
                <string>{210,180}</string>
            </dict>
            <key>img_run_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{198,180}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{198,180}}</string>
                <key>sourceSize</key>
                <string>{210,180}</string>
            </dict>
            <key>img_run_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{210,178}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{210,178}}</string>
                <key>sourceSize</key>
                <string>{210,180}</string>
            </dict>
            <key>img_run_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{208,178}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{208,178}}</string>
                <key>sourceSize</key>
                <string>{210,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>run.png</string>
            <key>size</key>
            <string>{1646,184}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73096fdd2df8bdd467a3dfe1350113fc:9505beefdf8b4fa050a16f7c8384b3ae:6290a42444d497ec9c3e7c82966554c5$</string>
            <key>textureFileName</key>
            <string>run.png</string>
        </dict>
    </dict>
</plist>
